
body, html {
  font-family: Arial;
  background-color: #f5f5f5;  
  color: #111;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.navbar h1 {
  font-size: 1rem; 
}

.navbar a {
  margin-left: 20px;
  color: #111;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.navbar a:hover {
  color: #0474f3;
}

.button {
  cursor: pointer;
  color: white;
  background-color: #1278ec;
  padding: 10px 20px;
  border-radius: 100px;
  margin-right: 10px;
  text-decoration: none;
}

.button:hover {
  background-color: #0758ae;
}

.main {
  text-align: center;
  margin-top: 100px;
}

.main h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.main p {
  font-size: 1.2rem;
  color: grey;
  margin-bottom: 30px;
}
