.symptomsPage {    
  font-family: Arial;
  background-color: #f5f5f5;
  text-align: center;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
}

.symptomsPage input {
  width: 75%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccce2;
}

.symptomsPage button {
  background-color: #1278ec;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.symptomsPage button:hover {
  background-color: #0758ae;
}

.symptomsList ul {
  padding-left: 2px;
  text-align: left;
}

.low {
  border: 2px solid green;
}

.medium {
  border: 2px solid orange;
}

.high {
  border: 2px solid red;
}

.severityMessage {
  font-weight: bold;
}
